@import 'variables';

.cluster0 {
    background: $color-danger;
    border-radius: 100%;
}

.date {
	margin-top: 2rem;

	.date__input {
		width: auto;
		display: inline-block;
		margin-left: .5rem;
	}
}